<template>
	<div>
		<code>Scrum App</code>
		<hr />
		<strong>Get More Contexts</strong>
		<ul>
			<li><a href="javascript:;" @click.prevent="Api_Scrum_Context('Actors')">Actors</a></li>
			<li><a href="javascript:;" @click.prevent="Api_Scrum_Context('Stories')">Stories</a></li>
		</ul>

		<scrum-stories v-if="scrum.gyu_meta.stories"></scrum-stories>

		<pre>{{scrum}}</pre>
	</div>
</template>

<script type="text/javascript">

module.exports = {
	mixins: [ScrumsMixin],
	props: ['role'],
	components: {
		'scrum-stories': httpVueLoader('/cdn/frontend/components/scrums/stories-container.vue')
	},
	computed: {
		scrum: function() {
			return this.$store.state.Scrum.data.scrum;
		}
	},
	name: 'scrum-app',
}	

</script>