<template>
	<div>
		<code>Scrum App - Stories Container</code>

		<div class="row">
			<div class="col-md-6" v-for="story in stories">
				<scrums-stories-story :story="story"></scrums-stories-story>
			</div>
		</div>

		<pre>{{ stories }}</pre>
	</div>
</template>

<script type="text/javascript">

module.exports = {
	mixins: [ScrumsMixin],
	components: {
		'scrums-stories-story': httpVueLoader('/cdn/frontend/components/scrums/stories-story.vue')
	},
	computed: {
		stories: function() {
			return this.$store.state.Scrum.data.scrum.gyu_meta.stories;
		}
	},
	name: 'scrum-stories',
}	

</script>