<template>
	
	<div class="card">
		<div class="card-block">
			<div style="margin-bottom: 0.5em">
				<img style="margin-left: 0.3em" class="float-xs-right rounded-circle" src="//placehold.it/45x45" width="45" />
				<h4 class="card-title">{{ story.code + ' - ' + story.gyu_meta.body.title }}</h4>
				<h6 class="card-subtitle muted">
					Epic + {{ Current_Actor(story.scrums_actor_id).name }}
					<span v-if="story.estimate != 0" class="float-xs-right">Est: {{ story.estimate }}</span>
				</h6>
			</div>
			<p class="card-text">{{ story.gyu_meta.body.body }}</p>
		</div>
		<div class="card-footer" style="background-color: orange; min-height: 10px !important; padding: 0;">
		</div>
	</div>

</template>

<script type="text/javascript">

module.exports = {
	mixins: [ScrumsMixin],
	props: ['story'],
	name: 'scrums-stories-story',
}	

</script>