<template>
	<div>
		<div>Test</div>
		<hr />
		<button @click.prevent="scrum_act_fetch" class="btn btn-sm btn-outline-success">Fetch a scrum</button>
		<scrum-app v-if="scrum_data" :scrum="scrum_data.scrum" :role="scrum_data.role"></scrum-app>
	</div>
</template>

<script>

module.exports = {
	name: 'ViewsIndex',
	mixins: [ ScrumsMixin ],
	/*data: function() {
		return {
			scrum_data: _.cloneDeep(Store.state.Scrum.data)
		}
	},
	/*/computed: {
		scrum_data: function() {
			return this.$store.state.Scrum.data;
		}
	},
	watch: {
		'Store.state.Scrum.data': function() {
			console.log('Lol');
		}
	},
	methods: {
		scrum_act_fetch: function() {

			var id = prompt('Id?', 1);

			return this.Api_Scrum_Get(id);

		}
	}
}	

</script>